<div class="container-fluid" id="homepage">
	<div class="row" id="homepagerow1">
		<div class="col-6">
			<h1>Take your Instagram to the next level!</h1>
			<br />			
			<p>Take your Instagram to the next level! Let us manage your Instagram account. Gramista will get you <strong>real Instagram likes and followers</strong> that are genuinely <strong>in love</strong> with <strong>your profile.</strong> </p>

			<br />
			<p>Automating interaction for you so that <strong>your account keeps growing.</strong> Let the results speak for themselves, register to start your <strong>free trial.</strong></p>
		</div>

		<div class="col-6">
			<div class="card">
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-body">
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>
		</div>
	</div>

	<div class="row" id="homepagerow2">
		<div class="col-6">
			<h2>This is how you get real followers!</h2>

			<p>
				Have you ever noticed that when liking or following someone else, they usually come back to do the same. We bet that you’ve even checked out a stranger’s Instagram because they followed you. <br />

				Using this natural human curiosity is how many accounts get likes and followers, but who would ever spend their whole day liking and following other people? This is where automation tools like Gramista come in.<br /> 

				Gramista will automate liking, following and unfollowing just like a human being would. We offer this at a price where people would consider it as almost free.
			</p>

			<button class="btn btn-primary btn-lg" type="button" role="button">Try Gramsita</button>
		</div>

		<div class="col-6">
			
		</div>
	</div>

	<div class="row" id="homepagerow3">
		<div class="col-12" id="homepagerow3-heading">
			<h2>A-B-C, <span>easy as</span></h2> 
		</div>
			
		<div class="col-6">
			Image
		</div>

		<div class="col-6">
			<div class="media">
			  <img class="d-flex mr-3" src="#" alt="1">
			  <div class="media-body">
			    Easy to start! Register in less than two minutes and connect your Instagram.

			    <div class="media mt-3">
			      <a class="d-flex pr-3" href="#">
			        <img src="#" alt="2">
			      </a>
			      <div class="media-body">
			        Customize your activities, set up hashtags, exceptions and start Gramista.
			      </div>
			    </div>

			    <div class="media mt-3">
			      <a class="d-flex pl-3" href="#">
			        <img src="#" alt="3">
			      </a>
			      <div class="media-body pl-3">
			        Enjoy fancy numbers on your Instagram!
			      </div>
			    </div>

			  </div>
			</div>
		</div>			
	</div>	

	<div class="row" id="homepagerow4">
		<div class="col-12">
			<h3>Reach your audience</h3>
			<p>There is no point in attracting followers if they aren't going to stay engaged. In order to have good engagement you need to reach people that will like your content. <br />

            Targeting your potential audience is what Gramista does best. Use hashtags to target people who have certain interests or use locations to target people that are frequent to certain places and let Gramista do the rest.</p>

            <img id="menu-log" src="https://gramista.com/img/logocut.svg">
		</div>
	</div>
</div>
