<div class="about-page">

	<div class="row jumbotron" id="jumbo-one">	
		<div class="col-6" id="who">
			<h2>Who?</h2>	
		</div>	

		<div class="col-6" id="jumbo-one-content">
			<p>The Gramista Team - born from the lack of a scientific mind within competitors. Our squad, always at hand, works hard to provide you with the latest technologies in Instagram marketing. Geeks with flame, making your name.</p>	
		</div>
	
	</div>

	<div class="row jumbotron" id="jumbo-two">
		<div class="col-6" id="what">
			<h2>What?</h2>
		</div>
		<div class="col-6" id="jumbo-two-content">
			<p>We wanted to create a reliable promotion tool for Instagram which outperformes the rest at a reasonable price. So we came up with this - Gramista - a service that puts the science in marketing, making it more stealth than we've ever seen by copying human behaviour.</p>
		</div>
	</div>

	<div class="row jumbotron" id="jumbo-three">
		<div class="col-6" id="why">
			<h2>Why?</h2>
		</div>

		<div class="col-6" id="jumbo-three-content">
			<p>	We are swimming in unmatched territory. Greater transparency for you, heightened account security and an ever-growing mountain of functionality. Climb and conquer.</p>
		</div>
	</div>	
</div>

