<div class="row guide-row-one">

	<div class="col-12" id="guide-heading">
		<h1>Complete Gramista Guide</h1>	
	</div>	

	<div class="col-6" id="guide-row-left">
		<p> This is a complete guide to using Gramista, it includes everything you need to know. This guide should answer any questions you might have.</p>
		<br />
		<p>If this is your first time using Gramista, you will be presented with an interactive tutorial once your registration is completed. So you do not have to read through all of this, but feel free to come back anytime if you feel lost. Contact our support team if you do not find answers to your questions here.</p>		
	</div>
	<div class="col-6" id="guide-row-right">
		<h3>Use this list to navigate quickly:</h3>
		<ul>
			<li class="nav-item"><a class="nav-link" href="#">Registration and Trail</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Add Instagram</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Locations</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Usernames</a></li>
		</ul>
	</div>
</div>

<div class="row guide-row-two">
	<div class="col-6" id="guide-row-left">
		<h3>Registration</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quia minus eaque error iure reiciendis aut velit nobis optio ipsam sed possimus odit eligendi nostrum, tempora fugiat quaerat praesentium alias.</p>
	</div>

	<div class="col-6" id="guide-row-right">
		<h3>Registration-one</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quia minus eaque error iure reiciendis aut velit nobis optio ipsam sed possimus odit eligendi nostrum, tempora fugiat quaerat praesentium alias.</p>
	</div>
</div>

<div class="row guide-row-three">
	<div class="col-6" id="guide-row-left">
		<h3>Add Instragram</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quia minus eaque error iure reiciendis aut velit nobis optio ipsam sed possimus odit eligendi nostrum, tempora fugiat quaerat praesentium alias.</p>
	</div>

	<div class="col-6" id="guide-row-right">
		<div class="card">
		  <img class="card-img-top" src="#" alt="Card image cap">
		  <div class="card-body">
		    <h4 class="card-title">Card title</h4>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		</div>
	</div>
</div>

