<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark nav justify-content">
  <!-- <a class="navbar-brand" href="#">Gramista</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/app-homepage"><span><img id="menu-log" src="https://gramista.com/img/logocut.svg"></span> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-guide">Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-prices">prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-blog">blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-help">help</a>
      </li>
    </ul>
  </div>
</nav>